---
layout: page
title:  Audits
permalink: /audits/
excerpt: "A selected list of security reviews and public audit reports that I've worked on."
---


{% if page.excerpt %}
<div class="post-description">
  <p>
    {{ page.excerpt }}
  </p>
</div>
{% endif %} 

<div class="archive">
  <div class="timeline" id="timeline">

    {% for audit in site.data.index.audits %}

    

    {% capture year %}{{ audit.year | date: '%Y' }}{% endcapture %}
    {% capture prevyear %}{{ site.data.index.audits[forloop.index].year | date: '%Y' }}{% endcapture %}
    

    {% if forloop.first %}
    <div class="archive-title">
      <h4 class="archive-year">{{ audit.year | date: '%Y' }}</h4>
    </div>
    <ul>
    {% endif %}


    <li>
      <div style="width:60px;float:left;">{{ audit.year | date: "%b" }}</div> 
      <a href="{{ audit.project-url }}"><b>{{ audit.project }}</b></a> ➫ <a href="{{ audit.url }}">{{ audit.title }}</a>
    </li>
 

    {% if forloop.last %}
        </ul>
    {% else %}

    {% if year != prevyear %}
    </ul>

    <div class="archive-title">
      <h4 class="archive-year">{{ prevyear}}</h4>
    </div>    <ul>

    <!-- <div class="archive-title">
      <h4 class="archive-year">{{ audit.year | date: '%Y' }}</h4>
      year: {{ audit.year | date: '%Y' }}
      nyear: {{ audit.year | date: '%Y' }}
    </div>

    <ul> -->

    {% endif %}
    {% endif %}



      {% endfor %}

  </div>

</div>
