<h1><span data-i18n="skills.my_skills"><u>About</u></span></h1>

<div>
<!--   ¯\_(ツ)_/¯ -->

Shayan is currently completing his doctoral studies in Information Systems Engineering at Concordia University. He has worked in network and information systems security for several years and has extensive experience as a blockchain engineer in startups as well as contributing to open source projects. He is currently dedicating both his intellectual and professional pursuits towards Blockchain technology. Looking at the technology from an interdisciplinary perspective, Shayan has been working on multiple academic papers varying from exploring the psychology of Blockchain to decentral exchanges.



</div>
<!--
STS<sup><a href="#fn1" id="ref1">1</a></sup>.

<br>
<sup id="fn1">1. Science, Technology and Society <a href = "https://en.wikipedia.org/wiki/Science_and_technology_studies"><i class="fa fa-external-link" aria-hidden="true"></i></a>
 <a href="#ref1" title="Jump back to the text.">↩</a></sup> -->

<hr>
