<h1><span data-i18n="skills.my_skills"><u>About</u></span></h1>

<div>
<!--   ¯\_(ツ)_/¯ -->

Shayan earned his <b><em>PhD</em></b> from <em>Concordia University</em>, where he explored the intricacies of blockchain technology in his dissertation: <a href="https://spectrum.library.concordia.ca/id/eprint/994347/" style="color: black; text-decoration: underline;" target="_blank" rel="noopener noreferrer"><i>“Uncovering Blockchain Challenges: Technical Nuances and Their Unforeseen Consequences”</i></a>. Beyond academia, he is the <b><em>co-founder</em></b> of the <em>Creed</em>, a web3 cooperative specializing in security and smart contract audits.

<div style="height: 0.69em;"></div>

Previously, Shayan served as the <b><em>Head of Security</em></b> at Puffer Finance and as <b><em>Chief Technology Officer</em></b> for Ether Capital (<a href="https://ethcap.co/" style="color: black;" target="_blank" rel="noopener noreferrer">NEO:ETHC</a>), where he bridged the gap between cutting-edge blockchain technology and enterprise needs. His tenure at <em>ConsenSys Diligence</em> as a <b><em>Security Engineer and Smart Contract Auditor</em></b> showcases his deep involvement in blockchain's technical frontiers. This journey began with his first role as a <b><em>Blockchain Engineer</em></b> —an invented title back then— at Bitaccess (<a href="https://finance.yahoo.com/quote/BTM/" style="color: black;" target="_blank" rel="noopener noreferrer">BTM</a>), a Bitcoin ATM startup.

<div style="height: 0.69em;"></div>

Shayan is deeply committed to advancing blockchain education and accessibility. He has been actively involved in non-profit initiatives to educate communities about the transformative potential of blockchain technology, conducting workshops and hackathon mentorship programs to empower the next generation of developers and security professionals. His academic adventures include interdisciplinary work such as <a href="https://www.frontiersin.org/journals/blockchain/articles/10.3389/fbloc.2019.00020/full" style="color: black; text-decoration: underline;" target="_blank" rel="noopener noreferrer"><i>“The Middleman is Dead, Long Live the Middleman: The ‘Trust Factor’ and the Psycho-Social Implications of Blockchain,”</i></a> which explores the psychological and social dimensions of trust in decentralized systems, influencing how the technology is adopted and perceived.


</div>

<hr>
