<h1><span data-i18n="skills.my_skills"><u>About</u></span></h1>

<div>
<!--   ¯\_(ツ)_/¯ -->

Shayan has completed his PhD at <em>Concordia University</em>, investigating <i>"Uncovering Blockchain Challenges: Technical Nuances and their Unforeseen Consequences"</i> Beyond academia, he is the co-founder and security auditor at <em>Creed</em>. In the past, he was leading as the <em>Head of Security</em> at <em>Puffer Finance</em> and formerly guided <em>Ether Capital</em> as its <em>Chief Technology Officer</em>. His tenure at <em>ConsenSys Diligence</em> as a <em>security engineer and smart contract auditor</em> showcases his deep involvement in blockchain's technical frontiers. With years dedicated to network and information systems security, Shayan's expertise spans blockchain engineering in startups to contributions in open source projects. Since 2012, his work has embraced blockchain technology from a multifaceted viewpoint, producing scholarly work on its psychological aspects to the technicalities of smart contract vulnerabilities.


</div>

<hr>
