<div id="toc_container">
    <p class="toc_title"><b>Shortcuts:</b></p>
    <ul class="toc_list">
      <li><a href="#publications"><i class="fa fa-book"></i> Publications</a>
      <!-- <ul>
        <li><a href="#First_Sub_Point_1">1.1 First Sub Point 1</a></li>
        <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a></li>
      </ul> -->
    </li>
    <li><a href="#prevprojects"><i class="fa fa-cogs"></i> Previous Projects</a></li>
    <li><a href="#lectures"><i class="fa fa-graduation-cap"></i> Lectures and Talks</a></li>
    <li><a href="#reviews"><i class="fa fa-eye"></i> Peer Reviews</a></li>

    </ul>
    </div>


<hr>
