<footer class="site-footer">
  <div class="footer-content psychedelic-footer">
    <div class="navigation-widget" id="navigationWidget">
      <div class="nav-sections" id="navSections" style="display: none;">
        <!-- Sections will be populated by JavaScript -->
      </div>
      <button class="jump-to-top" id="jumpToTop" aria-label="Jump to top or show sections">
        <i class="fa fa-chevron-up" id="jumpIcon"></i>
        <i class="fa fa-list" id="sectionsIcon" style="display: none;"></i>
      </button>
    </div>
    <div class="footer-text">
      &copy; {{ site.time | date: '%Y' }} <i class="fa fa-github-alt"> </i> <a href="https://github.com/shayanb/shayan.es"> {{ site.owner.name }} </a> made with <i class="fa fa-heart heart-icon"></i>
    </div>
  </div>
</footer>
